@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@900&display=swap');

/* ========== FONT-FAMILY  ==========*/
:root {
  font-family: Poppins, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  scroll-behavior: smooth;
}

/* ===========  Header  ============= */

header{
  background-image: linear-gradient(to left, rgb(10, 4, 88), rgb(0, 0, 0));
  padding: 1.5em;
}


/* ============ NAV ===================*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > a {
  font-size: 1.3em;
  color: white;
  letter-spacing: .1em;
}
nav > a > em {
  padding: 0em 0.6em;
  border: none;
  border-radius: 0.2em;
  background-color: rgb(15, 15, 236);
  font-style: normal;
}

/* ============ LI ========= */

nav ul li{
  display: inline;
  margin-right: 2em;
}

li a{
  font-size: 1.1em;
  color: white;
}

li:hover a{
  transition: .4s;
  color: rgb(0, 217, 255);
}


li:hover::after{
  content:"";
  width:3.5em;
  height: .1em;
  display: block;
  background-color: aliceblue;
  position: absolute;
}
/* ============= Ul =================== */

ul{
  display: flex;
  align-items: center;
}

nav ul .user-icon{
  padding: .2em;
  border: none;
  border-radius: 2em;
  color: white;
  cursor: pointer;
}

nav ul .user-icon:hover::after{
  content: '';
  display: none;
}


nav ul .user-icon:hover{
  transition: .4s;
  background-color: rgb(0, 217, 255);
}


/* ============== Logout button ===================== */
nav ul li:last-child{
  padding: .2em .6em;
  border: none;
  border-radius: 2em;
  background-color: rgb(214, 18, 18);
  color: white;
  cursor: pointer;
}

nav ul li:hover:last-child{
  transition: .4s;
  color: white;
  background-color: rgb(255, 0, 0);
}

nav ul li:hover:last-child a{
  color: white;
}


li:hover:last-child::after{
  content: none;
}

.logout-link{
  color: white;
}

.logout-link:hover{
  color:white;
}

/* =============== SVG ==================*/
svg{
  width: 18px;
  height: auto;
  fill: aliceblue;
}


/* =============== Data box =============== */
.data-box{
  display: none;
  /* height: 100vh; */
  background-image: linear-gradient(to right, rgb(0,0,0),rgb(18, 77, 204));
  color: white;
  /* z-index: 2; */
  flex-flow: column wrap;
  gap: 2em;
  align-items: center;
}

.data-box h2{
  text-align: center;
  /* color: black; */
}

.data-box div{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.data-box div input{
  width: 60vw;
  /* flex: 1; */
  padding: 1em 0em;
}

.data-box button{
  font-family: Poppins, sans-serif;
  border: none;
  border-radius: .3em;
  padding: 1em;
  width: 60vw;
}

main.show-box div.data-box{
  display: flex;
}

main.show-box >h3{
  display: none;
}

main.show-box #calendar{
  display: none;
}

main.show-box div.cards{
  display: none;
}


.save{
  background-color: rgb(123, 226, 20);
  color: rgb(1, 16, 221);
  font-size: 1.1em;
}

.save:hover{
  background-color: chartreuse;
}

.delete{
  background-color: rgb(207, 20, 20);
  color: white;
  font-size: 1.1em;
  margin-bottom: 1em;
}

.delete:hover{
  background-color: red;
}

/* ============== Main ================ */


/* ====> Calendar */
#calendar{
  padding: 1em;
  z-index: -1;
}


#calendar  h2{
  color: black;
}


#calendar tbody tbody tr td:hover{
  background-color: rgb(1, 97, 153);
  color: rgb(255, 255, 255);
}

/* ===> Cards */
.cards{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  /* background-color: blueviolet; */
  background-image: linear-gradient(to top, rgb(10, 4, 88), rgb(7, 6, 6));
}

.events-list{
  /* background-image: linear-gradient(to top, rgb(10, 4, 88), rgb(7, 6, 6)); */
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  padding: 2em 0em;
  justify-content: center;
}



h2{
  color: #ffff;
  text-align: center;
}

.events-list div{
  padding: 1em;
  border: none;
  border-radius: 1em;
  background-color: chartreuse;
}
.events-list li{
  display: flex;
  flex-flow: column wrap;
}

/* .events-list div{
  background-color: chartreuse;
} */
.events-list li input{
  width: 30vw;
  padding: .6em;
  background-color: whitesmoke;
  color: black;
}

.events-list li button{
  background-color: rgb(10, 4, 88);
  color: white;
  padding: 5px;
  cursor: pointer;
}

.events-list li button:hover{
  background-color: rgb(15, 8, 124);
}


.events-list li button:last-child{
  background-color: rgb(216, 1, 1);
}

.events-list li button:last-child:hover{
  background-color: red;
}
